<h1>Welcome to Tic-Tac-Toe!</h1>

<br>

<form action = "/output" method = "post">





<body>



<h2>"Choose your opponent"</h2>

<select name = "player_2">

	<option value="sequential_ai">Easy</option>

	<option value = "random_ai">Medium</option>
  
  <option value="unbeatable">Hard</option>

	<option value="human">Human</option>

</select><br><br>



<input type = "submit">





