<body>
    <center><h1>Welcome to Big Ed's Tic Tac Toe game.</h1></center>
            
    <center><img src="img/tic_tac_board.jpeg" alt="Tic Tac Toe Board" style="width:304px;height:228px;"></center>
        
    <center><a href="/game"><input type=submit value="Let's Play"></input></a></center>

</body>





