<!DOCTYPE html>
<html>

    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href = "css/style.css">
    <script src='/js/index.js'></script>
    <center><body id="body">

    <%= yield %>

    </body></center>

    </html>